@model UserVM

<div class="container text-center russo-one mt-2" style="color: blanchedalmond;">
    <h2>Личный кабинет</h2>
</div>
<div class="row">
    <div class="col-3">
        <partial name="_AccountPanel" />
    </div>
    <div class="col-9">
        <div class="container mt-3 mb-3 w-75 russo-one text-center p-3 border border-3 border-dark rounded-4" style="background-color: #cc2936;">
            <h3 style="color:blanchedalmond">Информация о пользователе</h3>
            <p class="h4">Почта: @Model.Email</p>
            <p class="h4">Номер: @Model.Phone</p>
            <p class="h4">Сумма покупок: @Model.BuySum р.</p>
            <p class="h4">Скидка: @Model.Discount %</p>
        </div>
    </div>
</div>


<div class="container text-center mt-3 mb-4">
    <a role="button" class="btn btn-dark button1" asp-controller="Home" asp-action="Index">На главную</a>
</div>