@model Login

<div class="container text-center russo-one mt-2">
    <h2 style="color: blanchedalmond;">Авторизация</h2>
</div>

<div class="container mt-4 mb-4 w-25 russo-one text-center p-3 border border-3 border-dark rounded-4" style="background-color: #cc2936;">
    <form method="post">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

        <div class="mb-2">
            <label asp-for="Email">Почта</label><br />
            <input class="form-control" asp-for="Email" />
            <span style="color:yellow; font-size:smaller" asp-validation-for="Email" />
        </div>
        <div class="mb-2">
            <label asp-for="Password">Пароль</label><br />
            <input class="form-control" asp-for="Password" />
            <span style="color:yellow; font-size:smaller" asp-validation-for="Password" />
        </div>
        <div class="mb-2 form-check text-start d-flex justify-content-between align-items-center">
            <div>
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label h5" asp-for="RememberMe">Запомнить меня</label>
            </div>
            <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-end h5">Регистрация</a>
        </div>
        <button type="submit" asp-controller="Account" asp-action="Login" class="btn btn-dark button1 text-center w-50">Войти</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>