@model Register

<div class="container text-center russo-one mt-2">
    <h2 style="color: blanchedalmond;">Регистрация</h2>
</div>

<div class="container mt-4 mb-4 w-25 russo-one text-center p-3 border border-3 border-dark rounded-4" style="background-color: #cc2936;">
    <form method="post">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

        <div class="mb-2">
            <label asp-for="Email">Почта</label><br />
            <input class="form-control" asp-for="Email" />
            <span style="color:yellow; font-size:smaller" asp-validation-for="Email" />
        </div>
        <div class="mb-2">
            <label asp-for="Password">Пароль</label><br />
            <input class="form-control" asp-for="Password" />
            <span style="color:yellow; font-size:smaller" asp-validation-for="Password" />
        </div>
        <div class="mb-2">
            <label asp-for="ConfirmPassword">Подтверждение пароля</label><br />
            <input class="form-control" asp-for="ConfirmPassword" />
            <span style="color:yellow; font-size:smaller" asp-validation-for="ConfirmPassword" />
        </div>
        <div class="mb-3">
            <label asp-for="Phone">Номер телефона</label><br />
            <input class="form-control" asp-for="Phone" placeholder="+7 (___) ___-__-__" />
            <span style="color:yellow; font-size:smaller" asp-validation-for="Phone" />
        </div>
        <button type="submit" asp-controller="Account" asp-action="Register" style="width:220px !important" type="submit" class="btn btn-dark button1 text-center">Зарегистрироваться</button>
        <div asp-validation-summary="ModelOnly"></div>
    </form>
</div>