<div class="container text-center russo-one mt-2" style="color: blanchedalmond;">
    <h2>Заказ создан</h2>
    <p>Ключи к купленным играм можно найти в личном кабинете.</p>
</div>
<div class="container text-center mb-4">
    <a role="button" class="btn btn-dark button1" asp-controller="Account" asp-action="Index">В личный кабинет</a>
    <a role="button" class="btn btn-dark button1" asp-controller="Home" asp-action="Index">На главную</a>
</div>