<div class="container text-center russo-one mt-2" style="color: blanchedalmond;">
    <h2>Панель администратора</h2>
</div>
<div class="row">
    <div class="col-3">
        <partial name="_AdminPanel" />
    </div>
    <div class="col-9">

    </div>
</div>
